* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

:root {
    --theme-color: #252734;
    --theme-white: #ffffff;
    --theme-yellow: #ffc107;
}

body {
    font-family: 'Urbanist' !important;
    background-color: var(--theme-color) !important;
}

img {
    object-fit: cover;
}

.active {
    background-color: #1f212c !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    animation: slidedown 0.7s linear;
}

@keyframes slidedown {
    0% {
        transform: translateY(-100%);
    }
}

/* LOADER */

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--theme-yellow);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse1 1s linear infinite;
}

.loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid var(--theme-white);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0)
    }

    60%,
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
}

@keyframes pulse1 {

    0%,
    60%,
    100% {
        transform: scale(1)
    }

    80% {
        transform: scale(1.2)
    }
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

/* POINTER */

.cursor {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    z-index: 9;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    border: 8px solid var(--theme-yellow);
    border-radius: 50%;
    opacity: .5;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--theme-yellow);
}


/* HEADER */

header {
    background-color: var(--theme-color);
    border-bottom: 2px solid var(--theme-green) !important;
    transition: 0.4s;
}
header nav li:hover a {
    color: var(--theme-white) !important;
    border-bottom: 1px solid white;
}

header nav li a {
    transition: 0.4s;
    border-bottom: 1px solid transparent;
}

header nav li:hover .dropdown li a {
    color: black !important;
}

.dropdown li:hover a {
    letter-spacing: 1px;
}

.dropdown {
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: 0.5s;
    top: 145%;
    width: 140px;
}

header nav li:hover .dropdown {
    visibility: visible !important;
    opacity: 1 !important;
    transform: rotateX(0deg);
}

.active {
    background-color: #1f212c !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    animation: slidedown 0.7s linear;
}

@keyframes slidedown {
    0% {
        transform: translateY(-100%);
    }
}

/* MORE PROJECTS */

.more-projects-title h4{
    background-color: var(--theme-color);
}
.more-projects-title h4:before{
    content: "";
    width: 280px;
    height: 2px;
    background-color: #383c40;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
}
.gallery {
    column-count: 3;
    column-gap: 10px;
}

.gallery img {
    width: 100%;
    display: block;
}
.more-projects-inner .project-item img:hover{
    filter: blur(1px);
}
.more-projects-inner .project-item:hover .project-content{
    visibility: visible !important;
    opacity: 1 !important;
    top: 0 !important;
    background-color: rgba(255, 193, 7, 0.7);
}
.project-content{
    transition: 0.5s all;
}

/* BACK-TO-TOP */

.back-to-top {
    display: none;
    width: 45px;
    height: 45px;
    background-color: var(--theme-yellow);
    line-height: 45px;
    right: 20px;
    bottom: 20px;
    transition: 0.5s;
}

.back-to-top:hover {
    transform: translateY(-10px);
}